{% extends 'base.html' %}

{% block content %}
{% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Add a Set</h1>
<form action="" method="post" class="thin-body">
{% endif %}
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      {% for field in form %}
      <input type="checkbox" id="{{ field.id }}" />
        <label for="field.id"></label>
      {% endfor %}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>

{% endblock %}