{% extends 'base.html' %}
{% block content %}

<div class="card">
    <span class="card-title">{{ group.name }}</span>
</div>
<div class="card">
    <span class="card-title">Display members here</span>
    {% for user in group.users.all %}
        <p>{{ user }}</p>
        <form action="{% url 'unassoc_user' group.id user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Exile</button>
        </form>
    {% empty %}
        <p>This group has no members</p>
    {% endfor %}
</div>
<div class="card">
    <span class="card-title">Pool of unrecruited gang members</span>
    {% for user in users_not_in_group %}
        <p>{{ user }}</p>
        <form action="{% url 'assoc_user' group.id user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Recruit {{ user }}</button>
        </form>
    {% empty %}
        <p>You recruited the world!</p>
    {% endfor %}
</div>
<div class="card">
    <span class="card-title">Learn from this group's sets!</span>
    {% for set in group.sets.all %}
    <a href="{% url 'show_set' set.id %}">
        <p>{{ set }}</p>
    </a>
    <form action="{% url 'unassoc_set' group.id set.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">X</button>
    </form>
    {% empty %}
        <p>This group has no sets</p>
    {% endfor %}
</div>
<div class="card">
    <span class="card-title">Add sets to this group</span>
    {% for set in sets_not_in_group %}
    <a href="{% url 'show_set' set.id %}">
        <p>{{ set }}</p>
    </a>
    <form action="{% url 'assoc_set' group.id set.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">+</button>
    </form>
    {% empty %}
        <p>This group has all the sets</p>
    {% endfor %}
</div>

{% endblock %}