{% extends 'base.html' %}
{% block content %}

<div class="parallax-container">
  <div class="parallax"><img src="https://i.redd.it/qwuxy7fgwvq01.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h4>Our Mission</h4>
    <h2>To disrupt note-taking culture with a new, subversive interface</h2>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://cdna.artstation.com/p/assets/images/images/004/557/552/large/delphine-jobin-hp-1.jpg?1484578386"></div>
</div>
<div class="section white">
    <div class="row container">
      <h2>Meet the Goons</h2>

    </div>
  </div>

{% endblock %}