{% extends 'base.html' %}
{% block content %}

<div class="parallax-container">
  <div class="parallax"><img src="/static/images/school1.jpeg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h4>Our Mission</h4>
    <h2>To disrupt note-taking culture with a new, subversive interface</h2>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/static/images/library1.jpeg"></div>
</div>
<div class="section white">
    <div class="row container">
      <h2>Meet the Goons</h2>

    </div>
  </div>

{% endblock %}