{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[ noTed. ]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"><img src="/static/images/logo.png" alt="noted" class="logoImg"></a>
                <a href="/" class="brand-logo logoText">[ noTed. ]</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                
                <div class="left hide-on-med-and-down">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
                
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'create_set' %}" class="nav">Create</a></li>
                    <li><a href="{% url 'sets_index' %}" class="nav">My Sets</a></li>
                    <li><a href="{% url 'logout' %}"class="nav">Log Out</a></li>
                        <li class="dropdown-trigger" data-target="dropdown1"> My Account <i class="material-icons right">arrow_drop_down</i></li>
                    {% else %}
                        <li><a href="" class="nav">About</a></li>
                        <li><a href="{% url 'login' %}" class="nav">Log In</a></li>
                    {% endif %}
                    </ul>
            </div>
        </nav>
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">My Account</a></li>
                <li class="divider"></li>
                <li><a href="#!">My Groups</a></li>
                <li class="divider"></li>
                <li><a href="#!">Test Content</a></li>
            </ul>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="#">Create</a></li>
                <li><a href="#">My Sets</a></li>
                <li><a href="#">Login</a></li>
            </ul>
    </header>
<main class="container center-align">
        {% block content %}
        {% endblock %}
</main>

<footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2019 [ noTed. ] &nbsp;</div>
</footer>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html> 