{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[ noTed. ]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"><img src="/static/images/logo.png" alt="noted" class="logoImg"></a>
                <a href="/" class="brand-logo logoText"> noTed . </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                
                <div class="left hide-on-med-and-down">
                    <form class="setSearch" id="searchform" action="/search/" method="get" accept-charset="utf-8">
                        <div class="input-field">
                            <input id="search" type="search" name="search_query" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
                
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'create_set' %}" class="nav waves-effect">Create</a></li>
                    <li><a href="{% url 'groups_index' %}" class="nav waves-effect">Groups</a></li>
                    <li><a href="{% url 'logout' %}"class="nav waves-effect">Log Out</a></li>
                    <li><a href="{% url 'my_account' %}"class="nav waves-effect">My Account</a></li>

                    {% else %}
                        <li><a href="{% url 'login' %}" class="nav waves-effect">Log In</a></li>
                    {% endif %}
                    </ul>
            </div>
        </nav>
            <ul class="sidenav" id="mobile-demo">
                {% if user.is_authenticated %}
                <li><a href="{% url 'create_set' %}" class="waves-effect">Create</a></li>
                <li><div class="divider"></div></li>
                <li><a href="{% url 'sets_index' %}" class="waves-effect">My Sets</a></li>
                <li><div class="divider"></div></li>
                <li><a href="{% url 'groups_index' %}" class="waves-effect">Groups</a></li>
                <li><div class="divider"></div></li>
                <li><a href="{% url 'logout' %}" class="waves-effect">Log Out</a></li>
                <li><div class="divider"></div></li>
                <li><a href="{% url 'my_account' %}" class="waves-effect">My Account</a></li>

                {% else %}
                    <li><a href="{% url 'login' %}" class="waves-effect">Log In</a></li>
                {% endif %}
            </ul>
    </header>
<main class="container center-align {{ mainclass }}">
        {% block content %}
        {% endblock %}
</main>

<footer class="page-footer">
    <div class="container">
        <div class="footer">
            <ul class="grey-text text-lighten-3 footer-ul">
                <li> <a href="{% url 'contact_us' %}" class="yellow-text thick footerHover">[ contact us ]</a> </li>
                <li> <a href="{% url 'about' %}" class="yellow-text thick footerHover">[ about ]</a> </li>
            </ul>
            <div class="right">All Rights Reserved, &copy; 2019 [ noTed. ] &nbsp </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html> 