{% extends 'base.html' %}
{% block content %}

<!-- "home1Wrapper" wraps around the home image section -->
<div class="home1Wrapper">
    <div class="homeImage"></div>
    <a class="waves-effect waves-light btn-large signUp" href="{% url 'signup' %}">Sign Up For Free!</a>
</div>

<!-- featureWrapper wraps around the featured sets section  -->
<div class="featureWrapper">
    <div class="featureText">Featured Sets</div>
    
    <div class="card featureDeck1">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/static/images/test.jpeg">
        </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ set1.name }}<i class="material-icons right">more_vert</i></span><p><a href="{% url 'show_set' set1.id %}">See Flashcards!</a></p>
    </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ set1.name }}<i class="material-icons right">close</i></span>
            <p>{{ set1.subject }}</p>
            <p>{{ set1.description }}</p>
        </div>
    </div>
    <div class="featureDeck2 card">
        <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/static/images/test.jpeg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ set2.name }}<i class="material-icons right">more_vert</i></span><p><a href="{% url 'show_set' set2.id %}">See Flashcards!</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ set2.name }}<i class="material-icons right">close</i></span>
            <p>{{ set2.subject }}</p>
            <p>{{ set2.description }}</p>
        </div>
    </div>
    <div class="featureDeck3 card">
        <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/static/images/test.jpeg">
            </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ set3.name }}<i class="material-icons right">more_vert</i></span><p><a href="{% url 'show_set' set3.id %}">See Flashcards!</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ set3.name }}<i class="material-icons right">close</i></span>
            <p>{{ set3.subject }}</p>
            <p>{{ set3.description }}</p>
        </div>
    </div>


{% endblock %}